* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
div {
  width: 100%;
  height: 100%;
  border: 5px solid white;
}

.flex {
  display: flex;
  /* align-items: center;
  justify-content: center; */
}

header {
  height: 10vh;
}

nav {
  flex: 1;
}

main {
  height: 80vh;
}

article {
  flex: 3;
  flex-direction: column;
}
aside {
  flex: 1;
  flex-direction: column;
}
section {
  flex: 3;
  flex-direction: column;
}

footer {
  height: 10vh;
}

.site-title {
  background-color: yellow;
  flex: 1;
}

.nav-item {
  background-color: pink;
}

.post {
  border: none;
}

.post-title {
  background-color: steelblue;
  height: 10%;
}

.post-meta {
  background-color: lightgreen;
}

.content {
  background-color: lightsteelblue;
}

.image {
  background-color: lightyellow;
}

.sidebar {
  background-color: gold;
}
.ads {
  background-color: green;
}

.other {
  background-color: violet;
}

.footer {
  background-color: brown;
}

@media (max-width: 600px) {
  .post {
    flex-direction: column;
  }
}
