body {
  background-color: pink;
}

p {
  color: green;
}

.blue {
  color: blue;
}

.red {
  color: red;
}

.green {
  color: green;
}
/* this is a comment */
.yellow {
  color: yellow;
}

.circle {
  background-color: brown;
  height: 200px;
  width: 200px;
  border-radius: 50%;
}
