body {
  background-image: linear-gradient(red, orange);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: cover;
  background-attachment: fixed;
  text-align: center;
}

.card {
  margin: 0 auto;
  height: 300px;
  width: 200px;
  background-image: radial-gradient(gainsboro, lightsteelblue);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 1s;
}

.card:hover {
  box-shadow: 0 0 50px #00000055, inset 0 0 100px 50px #0ff;
  /* transform: rotate(1000deg); */
  /* transform: skew(10deg, 20deg); */
  /* transform: scale(2); */
  /* transform: translate(50%); */
  /* transform: translate(20px); */
  /* transform: translate(20px, 10px); */
  transform: perspective(2000px) rotateX(45deg);
}
